<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %} grafit</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link
      rel="stylesheet"
      href="{{url_for('static',filename='dist/css/output.css')}}"
    />
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
    <script
      defer
      src="https://unpkg.com/alpinejs@3.10.3/dist/cdn.min.js"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    {% block head %} {% endblock %}
  </head>

  <body
    class="container m-auto"
    x-data="{ jsonserver : 'http://localhost:3000/'}"
  >
    {% for message in get_flashed_messages() %}
    <div class="flash text-red-600">{{ message }}</div>
    {% endfor %} {% block content %}{% endblock %}
  </body>
</html>
